<script src="https://kit.fontawesome.com/78a78e2082.js" crossorigin="anonymous"></script>
<style>
    .grid-margin {
        margin-top: 100px
    }

    .icon-md {
        font-size: 2.2rem
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid #d2d2dc;
        border-radius: 0
    }
</style>

<div class="card d-flex align-items-center" style="background-color: white;">
    <div class="card-body">
        <div class="d-flex flex-row align-items-center">
            <i class="fa-solid fa-ghost fa-2xl" style="margin: 12px;"></i>
            <div class="ml-3">
                <h6 class="mb-0">Section vide</h6>
                <p class="card-text" style="color: #AAAAAC;">Cette section ne contient pas de données pour l’instant</p>
            </div>
        </div>
    </div>
</div>
